<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>AlugueldeLivrosApp</title>
</head>
<center>
<body>
	<h1>Cadastro de Aluguel</h1><br>
	<form method="post">
		Livro: <input type="text" value="" name="livro"/><br>
		Situacao: <input type="text" value="" name="situacao"/><br>
		Solicitante:<input type="text" value="" name="solicitante"/><br>
		Devolucao: <input type="date" value="" name="devolucao"/><br>
		
		<button type="submit">Salvar</button>
	
	</form>

</body>
</center>
</html>